html
    head
        title #{competition.name}
        style 
            include ../styles/competition.css
        
    body
        nav 
            a(href="/competitions") << My competitions
            a(href="/logout") Logout

        h1 #{competition.name}
        
        if user && user.sub === competition.creatorUserId
            div.competition-link
                span Competitors can access this competition via this link: 
                a(href=competitionUrl) #{competitionUrl}
        
        h3 Standings
        table 
            thead
                tr
                    th Competitor
                    th Played
                    th Wins (#{competition.winPoints})
                    th Draws (#{competition.drawPoints})
                    th Losses (#{competition.lossPoints})
                    th Total points
            tbody
                each competitor in competitors
                    tr
                        td #{competitor.name}
                        td #{competitor.matchesPlayed}
                        td #{competitor.wins}
                        td #{competitor.draws}
                        td #{competitor.losses}
                        td #{competitor.totalPoints}

        h3 Matches
        ul.rounds
            each round in matchesByRound
                li.round Round #{round.roundNumber} 
                    ul.matches
                        each match in round.matches
                            li.match #{match.competitor1.name} vs #{match.competitor2.name} 
                                if match.score1 != null && match.score2 != null
                                    | (#{match.score1} - #{match.score2})
                                else
                                    | (not played yet)
                                
                                if user && user.sub === competition.creatorUserId
                                    div.enter-score
                                        if match.score1 != null && match.score2 != null
                                            p Update score:
                                        else
                                            p Enter score:
                                        
                                        form(action="/matches/"+match.id, method="post")
                                            input(type='number', id='score1', name='score1', value=match.score1)
                                            label -
                                            input(type='number', id='score2', name='score2', value=match.score2)
                                            button(type='submit') Submit